h1{
  color: red;
}
body{
  background-color:beige; 
  display: flex;
  flex-direction:row-reverse;
  align-content: flex-end;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-left: 20px;
}
.btn{
display: flex;

}